/************************************************************************
RESET LAYOUT
*************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
html {
    -webkit-text-size-adjust: none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************************************************************************
BASE STYLE
*************************************************************************/
.hidden { display:none; visibility:hidden; } 
.invisible { visibility: hidden; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/************************************************************************
MAIN LAYOUT
*************************************************************************/
body {
	font-family:Helvetica,Arial,sans-serif;
	font-size:13px;
	line-height: 17px;
	background-color:#EAEAEA;
	text-align: center;
}
#wrapper {
	margin: 0 auto;
	padding: 10px;
}
#header {
	text-align: center;
}
#footer{
	height: 40px;
	color:#888;
	text-align: left;
}
    #footer a:link, #footer a:active, #footer a:visited {
        color: #888;
    }

/************************************************************************
BASIC ELEMENTS
*************************************************************************/
p{
	margin: 8px 0px 14px 0px;
}
a{
	color: #000;
}
h1, h2, h3{
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 7px;
	margin-bottom:  6px;
	border-bottom: 1px solid #E0E0E0;
}
h2{
	font-size: 16px;
	padding-bottom: 5px;
	margin-bottom:  4px;
}
h3{
	font-size: 14px;
	padding-bottom: 5px;
	margin-bottom:  4px;
}

h4{
	text-align:right;
	font-size: 14px;
	padding-bottom: 0px;
	margin-bottom:  -14px;
}
h5{
	font-size: 14px;
	padding-bottom: 0px;
	margin-bottom:  -14px;
}



/************************************************************************
NAVIGATION STYLING
*************************************************************************/
.content ul.menu { margin: 0px; }
    .content ul.menu li{
		list-style: none;
		list-style-type: none;
		display: block;
		font-size: 16px;
		border-bottom:1px solid #E0E0E0;
		padding: 0px;
		font-weight: bold;
	}
	.content .menu li:last-child{
		border-bottom: none;
	}
	.content .menu li a{
		background: transparent url('img/arrow.gif') no-repeat right center;
		padding: 8px 35px 8px 10px;
		color: #000;
		font-weight: bold;
		line-height: 24px;
		text-decoration: none;
		display: block;
	}
    .content .menu li a.loading{
        background: transparent url('img/loader.gif') no-repeat 99% center;
    }
 
/************************************************************************
CONTENT STYLING
*************************************************************************/
.content{
	-webkit-border-radius: 10px; 
    -moz-border-radius: 10px;
    border:1px solid #E0E0E0;
    background-color: #FFF;
    text-align: left;
    padding: 10px;
    margin-bottom: 5px;
}
	.content ul {
		list-style: disc;
		list-style-position: inside;
		margin: 10px;	
	}
	.content img {
		max-width: 95%;
		max-height: 400px;	
	}
        .content img.inline{
    		float: left;
    		margin: 10px;
    	}
	.content table, .content td {
		max-width: 95% !important;
	}
	.content pre, .content code {
		background-color: #FCF7EC;
		overflow-x: auto;
		white-space: pre-wrap; /* css-3 */
		white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
		word-wrap: break-word; /* Internet Explorer 5.5+ */
		margin: 0px 0px 0px 0px;
		padding:5px 5px 3px 5px;
		white-space : normal; /* crucial for IE 6, maybe 7? */	
	}
	.content pre {
		width: 95%;	
	}
	

/************************************************************************
FORM STYLING
*************************************************************************/
button.button{
	font-size: 14px;
	font-weight: bold;
	background-color: #333;
	width: 95%;
	-webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: #CCC;
    border: none;
}
input, textarea{
	font-family:Helvetica,Arial,sans-serif;
	-webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
	color:#555555;
	background:#FBFBFB none repeat scroll 0 0;
	border:1px solid #E5E5E5;
	font-size:12px;
	line-height: 16px;
	margin-bottom:16px;
	margin-right:6px;
	margin-top:2px;
	padding:10px;
	display: block;
	width: 92%;
}
label{
	font-size: 12px;
	font-weight: bold;
	color:#5B5A5A;
	display: block;
}
	label span, .required {
		color: #C00;	
	}

/************************************************************************
BUTTONS STYLING
*************************************************************************/
.right a, .button{
	-webkit-border-radius:4px;
	-moz-border-radius: 4px;
	padding: 4px 8px;
	background-color: #333;
	color: #FFF !important;
	text-decoration: none;
	font-weight: bold;
	line-height: 24px;
	font-size: 11px;
	margin-left: 2px;
}


/************************************************************************
REST STYLING
*************************************************************************/
.right{ float: right; }
.nopad { padding: 0px; }
.notice {
	-x-system-font:none;
	background: #FFF3AE none repeat scroll 0 0;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 14px;
	padding:10px;
	margin: 8px 0px 14px 0px;
	font-style: italic;
	width: 260px;
	-webkit-border-radius:4px;
}
.error{ border: 1px solid #CC0000; }
.spacer{ clear: both; }
.message { background: #F1F1F1; color: #999; padding: 10px; }
.rss-news-plugin { padding: 10px; }


.mp-content-wrap {
    /*position: absolute; */
}
.mp-content-holder {
    position: relative;
}
